#buttonTwo {
    visibility: hidden;
}

#buttonThree {
    visibility: hidden;
}

#signImg {
    margin-top: -4em;
    margin-left: 1em;
}

#dates {
    margin-left: 10em;
}

body {
    background-image: url(signImages/planet1.jpg);
    margin-top: 3em;
    margin-left: 4em;
}

.header {
    margin-left: 5em;
}

button {
    margin-left: 15em;
}

h1, h2, h3 {
    color: whitesmoke;
}

h1 {
    margin-left: 1em;
}

h2 {
    margin-left: 2em;
}